<div class="page slideIn">
    <div class="bd" style="height: 100%;">
        <div class="weui_tab">
            <div class="weui_tab_bd">
                <div class="hd">
                    <h1 class="page_title" ng-bind="art.title"></h1>
                </div>
                <div class="bd">
                    <article class="weui_article">
                        <section>
                            <p ng-bind-html="safeHtml"></p>
                        </section>
                    </article>
                </div>
            </div>
            <div class="weui_tabbar">
                <a ui-sref="list({id:d._id})" ng-class="{weui_bar_item_on: d._id===uid}" class="weui_tabbar_item" ng-repeat="d in data | filter:homeFilter | orderBy:'id':reverse=true">
                    <div class="weui_tabbar_icon">
                        <img ng-src="../res/img/{{d._id}}.png" alt="">
                    </div>
                    <p class="weui_tabbar_label" ng-bind="d.name"></p>
                </a>
            </div>
        </div>
    </div>
</div>