<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>领航广告</title>
    <link rel="stylesheet" href="/res/css/weui.min.css"/>
    <link rel="stylesheet" href="/res/css/example.css"/>
</head>
<body ontouchstart>
    <div class="container js_container" ui-view>
        
    </div>
    <script type="text/javascript" src="/res/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/res/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/routes/route.js"></script>
    <script type="text/javascript" src="/controllers/home.js"></script>
    <script type="text/javascript" src="/controllers/list.js"></script>
    <script type="text/javascript" src="/controllers/list2.js"></script>
    <script type="text/javascript" src="/controllers/content.js"></script>
</body>
</html>